.Book {
  align-items: start;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'cover info'
    'cover user'
    'cover amazon'
    'cover .'
    'rating rating';
  justify-content: space-evenly;
  margin: 0 auto 60px;
  max-width: 1200px;

  @media (min-width: 768px) {
    margin: 32px auto;
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 2fr minmax(280px, 2fr) 1fr;
    grid-template-areas:
      'amazon cover info   user'
      'amazon cover rating user';
    justify-content: space-evenly;
  }

  @media (min-width: 1200px) {
    margin-bottom: 64px;
  }
}
