.Info {
  margin-top: 0.5rem;
}

.Info .title {
  font-size: 2rem;
  font-weight: 800;
  line-height: 2.5rem;
  margin-bottom: 0;
}

.Info .subtitle {
  font-size: 1.25rem;
}

.Info .author {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.Info .date-read {
  color: #929292;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
