.UserPicked {
  align-content: center;
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .UserPicked .user-img {
    max-width: 125px;
    max-height: 125px;
    margin: 0 auto;
  }
}
