.BookInfo {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.BookInfo .title {
  font-size: 2rem;
  font-weight: 800;
  line-height: 2.5rem;
  margin-bottom: 0;
}

.BookInfo .subtitle {
  font-size: 1.25rem;
}

.BookInfo .author {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.BookInfo .date-read {
  color: #929292;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
