$black: #1A1A1A;
$blue: #228390;
$blueAccent: #62B1BB;
$darkGray: #333;
$lightGray: #818181;
$lighterGray: #CCC;
$mediumGray: #929292;
$orange: #EC8C34;
$red: #E33243;
$white: #FFF;
$green: #40C32B;

$secondary: $lightGray;
$primary-color: #8D2EAA;
$accent-color: lighten($primary-color, 10%);
$primary-dark: $black;
$primary-font: $white;
$light-font: $mediumGray;
$active-font: $lighterGray;

$accent: #323232;
$complement: $orange;
$danger: $red;

$font-sans: 'Raleway', sans-serif;
$font-serif: 'Playfair Display', serif;

/** General **/

body {
	background-color: $white;
	color: $primary-font;
	font-family: $font-sans;

	a {
		color: $white;

		&:hover {
			color: $accent;
			text-decoration: none;
		}
	}
}

h1, h3, h5, {
	font-family: $font-sans;
}

h2, h4, h6 {
  font-family: $font-serif;
}

*:focus {
	outline: $white auto 2px;
}

.btn-primary {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;

  &:active, &:focus, &:hover {
    background-color: $accent-color;
    border-color: $accent-color;
    box-shadow: 0 0 0 2px rgba($primary-color, .25);
  }

  &.disabled,
  &:disabled {
    background-color: desaturate($primary-color, 30%);
    border-color: desaturate($primary-color, 30%);
  }
}

#site-wrapper {
  background-color: $primary-dark;
  border: 35px solid $white
}

/** Header **/

.title-header {
  padding-bottom: 3rem;

  .title-row {
    padding-bottom: 0.5rem;
  }

  .nav-row {
    color: $mediumGray;
    min-height: 29px;

    button {
      background-color: $primary-dark;
      border-width: 0;
      color: $mediumGray;

      &:hover, &:focus {
        color: $white;
        outline: none;
      }
    }
  }
}

.title {
  min-height: 5rem;
  position: relative;
  text-transform: uppercase;

  .title-back {
    h1 {
      color: darken($primary-font, 80%);
      font-family: $font-sans;
      font-size: 5rem;
      font-weight: 800;
      letter-spacing: 2rem;
    }
  }

  .title-front {
    bottom: 0;
    left: 0;
    letter-spacing: 0.5rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    h2 {
      display: inline-block;
      font-family: $font-sans;
      font-size: 2.5rem;
      font-weight: 800;
    }
  }
}

.main {
  padding-bottom: 3rem;
}

.picklist-container {
  margin-bottom: 1rem;
  min-height: 40px;
  padding-bottom: 1rem;
}

.filter-header {
  padding-bottom: 5rem;
}

.filter {
  justify-content: center;

  select, .custom-select {
    background-color: $primary-dark;
    border: 1px solid rgba($secondary, 0.25);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    color: $secondary;
    font-family: $font-serif;
    font-size: 0.75rem;

    &.form-control:focus {
      background-color: inherit;
      color: $active-font;
      outline: none;
    }

    &.active {
      background-color: $accent;
      color: $active-font;
    }
  }
}

/** Book Cards **/

.book {
  align-items: center;
  border-width: 0;
  box-sizing: border-box;
  margin: 1rem 0;
  min-height: 286px;
  padding: 1rem;

  .book-amazon {
    display: flex;
    align-items: center;
    justify-content: center;

    .amazon-wrapper {
      align-items: center;
      background-color: $accent;
      border-radius: 50%;
      display: flex;
      height: 50px;
      justify-content: center;
      width: 50px;

      &:hover {
        background-color: $white;

        .amazon-logo {
          fill: $accent;
        }
      }

      .amazon-logo {
        fill: $mediumGray;
      }
    }

  }

  .book-cover {
    img {
      border: 2px solid $mediumGray;
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30),
                  0 15px 12px rgba(0, 0, 0, 0.22),
                  0px 20px 90px 20px rgba(50, 50, 50, 0.8);
    }
  }

  .book-data {
    .book-rating-wrapper:hover .book-rating-user {
      opacity: 1;
    }

    .book-rating-user {
      font-size: 0.75rem;
      font-style: italic;
      margin-top: 0.5rem;
      opacity: 0;
      transition: opacity 500ms;

      a:hover {
        color: $white;
        text-decoration: underline;
      }
    }

    .book-info {
      margin-top: 0.5rem;

      .book-title {
        font-size: 2rem;
        font-weight: 800;
        line-height: 2.5rem;
        margin-bottom: 0;
      }

      .book-author {
        font-family: $font-serif;
        font-size: 1.5rem;
        line-height: 2.5rem;
        padding-bottom: 1rem;
      }

      .book-date-read {
        color: $mediumGray;
        font-family: $font-sans;
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }

  .book-member-profile {
    align-items: center;
    align-self: flex-start;
    color: $mediumGray;
    display: flex;
    filter: grayscale(100%);
    flex-direction: column;
    justify-content: center;

    img {
      max-height: 111px;
      max-width: 111px;
    }
  }
}

@media (min-width: 768px) {
  .book-member {
    padding-left: 0;
  }
}

/** Modals **/

.modal-content {
  background-color: $primary-dark;
  color: $white;

  .modal-title {
    font-family: $font-sans;
    font-weight: 800;
  }

  .close span {
    color: $white;
  }
}

#signInFailAlert {
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1100;

  &.show {
    display: initial;
  }
}

/** Loading Spinner **/

.spinner-container {
  background-color: $primary-dark;
  display: none;
  left: 0;
  height: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 300ms;
  z-index: 1100;

  &.show {
    display: initial;
    opacity: 1;
  }

  .spinner {
    margin: 66px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;

    > div {
      background-color: #FFF;
      height: 100%;
      width: 6px;
      display: inline-block;

      -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
      animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }

    .rect2 {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s;
    }

    .rect3 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }

    .rect4 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }

    .rect5 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
    }
  }

  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
  }

  @keyframes sk-stretchdelay {
    0%, 40%, 100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% {
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
}

.newmember {
  margin-bottom: 3rem;
}

.card-block {
  background-color: $primary-dark;
}

/** Footer **/

footer {
  background-color: $white;
  color: $secondary;
  font-size: 0.75rem;
  letter-spacing: 1.5rem;
  min-height: 5rem;
  text-transform: uppercase;
}
