.Bookcase {
  margin-bottom: 16px;
  padding-bottom: 32px;

  .control-box {
    align-content: center;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    padding: 0;
    flex-wrap: wrap;

    .Meeting {
      align-items: center;
      display: flex;
    }

    @media (min-width: 768px) {
      padding: 32px 0;
    }
  }
}
