.Rating {
  align-items: center;
  display: flex;

  .book-rating {
    align-items: baseline;
    display: flex;
    font-weight: bold;
    margin-left: 8px;
    position: relative;

    &-max {
      color: #929292;
      font-size: 16px;
    }

    &-total {
      color: #fff;
      font-size: 36px;
    }
  }

  .rate-info {
    align-items: center;
    display: flex;
  }
}

.star {
  width: 32px;

  &.star-small {
    margin: 2px 0 4px 4px;
    width: 14px;
  }
}
